/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100vw;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}
img {
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 8px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.service {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page-specific Styles */
h1,
h2 {
  color: #333;
}

nav ul li a:hover {
  color: #ffcc00;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffcc00;
  color: #333;
}

/* Responsive Styles */

@media screen and (max-width: 480px) {
  .service {
    flex-basis: calc(100% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  header,
  footer {
    padding: 20px, 0;
    width: 100%;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  main {
    padding: 10px;
  }

  form {
    margin-top: 10px;
  }

  .service {
    flex-basis: calc(50% - 20px);
}
